// =============================
// Icons
// =============================

// List of icon unicode symbols for each icon in the icon font
$icon-list: (
    iconNameOne: "UNICODE FOR ICON",
    iconNameTwo: "UNICODE FOR ICON",
    iconNameThree: "UNICODE FOR ICON",
);

@each $icon, $unicode in $icon-list {
    .icon--#{$icon} {
        &::before {
            content: $unicode;
        }
    }
}

.icon {
	font-family: $icon-family;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon--"] {
	@extend .icon;
}