// =============================
// Colours (phonetic alphabet)
// =============================

$color-alpha: 					#ffffff; 										// Most common color first





// =============================
// Reference colours (can reference phonetic alphabet colours from above)
// These can be added to make syling specific elements which may change colour often with ease
// by assigning a colour from the photnetic colours above to another variable.
// =============================

$base-background-color: 		#f5f6f7; 										// Body/html background colour





// =============================
// Font Families
// =============================

$font-family-alpha:				Arial, "Helvetica Neue", Helvetica, sans-serif;	// Base/default font-family
$icon-family: 					'ICON FAMILY NAME'; 							// Icon font-family





// =============================
// Other properties
// =============================

// Other variables can be set defaults for here;

// Column EM's
$left-column-width:				13em;											// width of the left column
$right-column-width:			17em;											// width of the right column

// Column Percentages
$left-column-width-percent:		25%;											// % width of the left column
$right-column-width-percent:	25%;											// % width of the right column

//$text-shadow: 					0 1px 1px rgba(0,0,0,.3);					// Default text-shadow
//$border-radius-global: 			2px;										// Default border-radius