// =============================
// Absolute Columns
// =============================

$absolute-columns-enable: false !default;
// Please note you should use percentage-page-layout OR absolute-columns, NOT both at the same time.

// This method of styling the page structure allows for the right and left 
// columns to have a background color that covers 100% of the height.

@if ($absolute-columns-enable) {

	.page-container {
		position: absolute;
		width: 100%;
	}

	// forces shadow on header-container to show over the side bars
	.header-container {
		position: relative;
		z-index: 1;
	}

	.footer-container {
		@extend [class~="span-1x"];
		@extend .position-relative;
		display: table;
	}

	// The following block of code creates the responsive layout for columns.

	// Full width with all 3 columns being shown side by side
	@include media-query(nth(map-get($viewport-values, desk), 1)) {

		// Three Column Layout
		.three-column-layout {

			.main-container {
				float: left;
				margin-left: $left-column-width;
				margin-right: $right-column-width;
			}

			.left-container {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: $left-column-width;
			}

			.right-container {
				position:absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: $right-column-width;
				clear:none;
			}

		}

		// Left Column Layout
		.left-column-layout {

			.main-container {
				float: left;
				margin-left: $left-column-width;
			}

			.left-container {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: $left-column-width;
			}

		}

		// Right Column Layout
		.right-column-layout {

			.main-container {
				float: left;
				margin-right: $right-column-width;
			}

			.right-container {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: $right-column-width;
			}

		}
		
	}

	// Middle width with the left column moved to the right hand side and the right column 
	// moved underneath the other two columns
	@include media-query(nth(map-get($viewport-values, lap), 1)) {

		// Three Column Layout
		.three-column-layout {

			.main-container {
				float: left;
				margin: 0;
				margin-left: $left-column-width;
			}

			.left-container {
				float: right;
				width: $left-column-width;
				margin-left: 0;
			}

			.right-container {
				clear: both;
				width: 100%;
				position: relative;
				display: inline-block;
			}

		}
		
	}

	// Smallest width with the three columns stacked on top of one another.
	@include media-query(nth(map-get($viewport-values, palm), 1)) {

		// Mobile Size Stack All Columns
		.left-column-layout,
		.right-column-layout,
		.three-column-layout {

			.main-container,
			.left-container,
			.right-container {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				position: relative;
				display: inline-block;
			}

		}

	}

}