// =============================
// Percentage Page Layout
// =============================

$percentage-page-layout-enable: true !default;
// Please note you should use percentage-page-layout OR absolute-columns, NOT both at the same time.

// This method of styling the page structure allows for the right and left 
// columns to have a background color that covers 100% of the height.

@if ($percentage-page-layout-enable) {

	// forces shadow on header-container to show over the side bars
	.header-container {
		@extend .position-relative;
		z-index: 1;
	}

	.footer-container {
		@extend [class~="span-1x"];
		@extend .position-relative;
		display: table;
		clear: both; //@extend .clearfix (doesn't work for this)
	}

	// The following block of code creates the responsive layout for columns.

	// Full width with all 3 columns being shown side by side
	@include media-query(nth(map-get($viewport-values, desk), 1)) {

		// Three Column Layout
		.three-column-layout {

			.main-container {
				float: left;
				width: 100 - $left-column-width-percent - $right-column-width-percent;
				margin-left: $left-column-width-percent;
			}

			.left-container {
				float: left;
				width: $left-column-width-percent;
				margin-left: 0 - (100 - ($left-column-width-percent - $right-column-width-percent)) + $left-column-width-percent;
			}

			.right-container {
				float: right;
				width: $right-column-width-percent;
				clear:none;
			}

		}

		// Right Column Layout
		.right-column-layout {

			.main-container {
				float: left;
				width: 100 - $right-column-width-percent;
			}

			.right-container {
				float: right;
				width: $right-column-width-percent;
			}

		}

		// Left Column Layout
		.left-column-layout {

			.main-container {
				float: right;
				width: 100 - $left-column-width-percent;
			}

			.left-container {
				float: left;
				width: $left-column-width-percent;
			}

		}
		
	}

	// Middle width with the left column moved to the right hand side and the right column 
	// moved underneath the other two columns
	@include media-query(nth(map-get($viewport-values, lap), 1)) {

		// Three Column Layout
		.three-column-layout {

			.main-container {
				float: left;
				width: 100 - $left-column-width-percent;
				margin: 0;
			}

			.left-container {
				float: right;
				width: $left-column-width-percent;
				margin: 0;
			}

			.right-container {
				clear:both;
				width:100%;
			}

		}

		// Right Column Layout
		.right-column-layout {

			.main-container {
				float: left;
				width: 100 - $right-column-width-percent;
			}

			.right-container {
				float: right;
				width: $right-column-width-percent;
			}

		}

		// Left Column Layout
		.left-column-layout {

			.main-container {
				float: right;
				width: 100 - $left-column-width-percent;
			}

			.left-container {
				float: left;
				width: $left-column-width-percent;
			}

		}
		
	}

	// Smallest width with the three columns stacked on top of one another.
	@include media-query(nth(map-get($viewport-values, palm), 1)) {

		// Three Column Layout
		.left-column-layout,
		.right-column-layout,
		.three-column-layout {

			.main-container,
			.left-container,
			.right-container {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				position: relative;
				display: inline-block;
			}

		}

	}

}